{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/0c0c77b130.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>
    <div class="nav-bar">
        <nav class="navigation">
            <div class="img-container">
                <img src="{% static 'images/cropped_img.jpg' %}/ " alt="This is me">
            </div>
            <ul class="about-me-bar">
                <li>About Me</li>
                <li>My Projects</li>
                <li>Eductaion</li>
            </ul>
            <div class="socials-container">
                <p class="soacial-paragraph">Social Platform</p>
                <ul class="socials">
                    <li><a class="git-icon" href="https://github.com/Rado-999"><i class="fa-brands fa-github fa-fw fa-xl"></i></a></li>
                    <li><a class="linkedin-icon" href="https://www.linkedin.com/in/radoslav-dimitrov-383532205/"><i class="fa-brands fa-linkedin fa-fw fa-xl"></i></a></li>
                    <li><a class="insta-icon" href="http://"><i class="fa-brands fa-instagram fa-fw fa-xl"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    {% block homepage %}

    {% endblock %}
</body>
</html>